/*              Page pour kabor ou hbib 2018            */
body{
background-color: rgb(132, 187, 247);
}
.divpage1{
    height: 50px;
    background-color: rgb(237, 247, 151);
    }

 h1{
        color: rgb(0, 0, 0);
        position: relative;
        text-align: center;
        background: cadetblue;
        }

     /*              Page pour kabor ou hbib 2018            */
.vido  {
position: fixed;

} 
        
